/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
nav{
  background-color: #808080;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }
li{
  background-color: #ffbf00;
  color:white;
  padding:35px;
  display:block;
  float:left;
}
li:hover{
  background-color:#ee5f3c;
}
h1{
	color:rgb(2, 132, 130);
  text-align:center;
}
h2{
	color:#ffd700;
  text-align:center;
}
.board{
	height:50%;
	width:50%;
	display:inline-block;

}
.card{
	float:left;
	margin:8%;
	border:1px solid;
	border-radius:10px;
	border-color:rgb(0,0,0);
	height:200px;
	width:150px;
	background-color:yellow;

}
.name{
	color:#ff0000;
}
footer{
  background-color:#808080;
  text-align:center;
}
p{
  text-align:center;
}
